.clients-grid {
    height: 360px;
    position: relative;
    width: 100%
}

@media (min-width:600px) {
    .clients-grid {
        height: 440px
    }
}

@media (min-width:1000px) {
    .clients-grid {
        height: 540px
    }
}

@media (min-width:1400px) {
    .clients-grid {
        height: 600px
    }
}

@media (min-width:1800px) {
    .clients-grid {
        height: 640px
    }
}

.clients-grid__inner {
    overflow: hidden;
    position: absolute;
    bottom: -220px;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 760px
}

@media (min-width:600px) {
    .clients-grid__inner {
        height: 840px
    }
}

@media (min-width:1000px) {
    .clients-grid__inner {
        height: 940px
    }
}

@media (min-width:1400px) {
    .clients-grid__inner {
        height: 1000px
    }
}

@media (min-width:1800px) {
    .clients-grid__inner {
        height: 1040px
    }
}

@media (max-height:700px) {
    .clients-grid__inner {
        bottom: -180px
    }
}

.clients-grid__column {
    position: absolute;
    top: 0;
    left: 50%;
    width: 160px;
    margin-left: -80px;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: columns-trajectory-0 80s infinite;
    animation: columns-trajectory-0 80s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    will-change: transform
}

@media (min-width:600px) {
    .clients-grid__column {
        width: 200px;
        margin-left: -100px;
        -webkit-animation-name: columns-trajectory-600;
        animation-name: columns-trajectory-600
    }
}

@media (min-width:1000px) {
    .clients-grid__column {
        width: 240px;
        margin-left: -120px;
        -webkit-animation-name: columns-trajectory-1000;
        animation-name: columns-trajectory-1000
    }
}

@media (min-width:1400px) {
    .clients-grid__column {
        width: 300px;
        margin-left: -150px;
        -webkit-animation-name: columns-trajectory-1400;
        animation-name: columns-trajectory-1400
    }
}

@media (min-width:1800px) {
    .clients-grid__column {
        width: 320px;
        margin-left: -160px;
        -webkit-animation-name: columns-trajectory-1800;
        animation-name: columns-trajectory-1800
    }
}

@media (min-width:720px) {
    .clients-grid__column {
        -webkit-animation-duration: 130s;
        animation-duration: 130s
    }
}

@media (min-width:960px) {
    .clients-grid__column {
        -webkit-animation-duration: 180s;
        animation-duration: 180s
    }
}

.clients-grid__column:nth-child(2) {
    -webkit-animation-delay: -71.11111s;
    animation-delay: -71.11111s
}

@media (min-width:720px) {
    .clients-grid__column:nth-child(2) {
        -webkit-animation-delay: -115.55556s;
        animation-delay: -115.55556s
    }
}

@media (min-width:960px) {
    .clients-grid__column:nth-child(2) {
        -webkit-animation-delay: -160s;
        animation-delay: -160s
    }
}

.clients-grid__column:nth-child(3) {
    -webkit-animation-delay: -62.22222s;
    animation-delay: -62.22222s
}

@media (min-width:720px) {
    .clients-grid__column:nth-child(3) {
        -webkit-animation-delay: -101.11111s;
        animation-delay: -101.11111s
    }
}

@media (min-width:960px) {
    .clients-grid__column:nth-child(3) {
        -webkit-animation-delay: -140s;
        animation-delay: -140s
    }
}

.clients-grid__column:nth-child(4) {
    -webkit-animation-delay: -53.33333s;
    animation-delay: -53.33333s
}

@media (min-width:720px) {
    .clients-grid__column:nth-child(4) {
        -webkit-animation-delay: -86.66667s;
        animation-delay: -86.66667s
    }
}

@media (min-width:960px) {
    .clients-grid__column:nth-child(4) {
        -webkit-animation-delay: -120s;
        animation-delay: -120s
    }
}

.clients-grid__column:nth-child(5) {
    -webkit-animation-delay: -44.44444s;
    animation-delay: -44.44444s
}

@media (min-width:720px) {
    .clients-grid__column:nth-child(5) {
        -webkit-animation-delay: -72.22222s;
        animation-delay: -72.22222s
    }
}

@media (min-width:960px) {
    .clients-grid__column:nth-child(5) {
        -webkit-animation-delay: -100s;
        animation-delay: -100s
    }
}

.clients-grid__column:nth-child(6) {
    -webkit-animation-delay: -35.55556s;
    animation-delay: -35.55556s
}

@media (min-width:720px) {
    .clients-grid__column:nth-child(6) {
        -webkit-animation-delay: -57.77778s;
        animation-delay: -57.77778s
    }
}

@media (min-width:960px) {
    .clients-grid__column:nth-child(6) {
        -webkit-animation-delay: -80s;
        animation-delay: -80s
    }
}

.clients-grid__column:nth-child(7) {
    -webkit-animation-delay: -26.66667s;
    animation-delay: -26.66667s
}

@media (min-width:720px) {
    .clients-grid__column:nth-child(7) {
        -webkit-animation-delay: -43.33333s;
        animation-delay: -43.33333s
    }
}

@media (min-width:960px) {
    .clients-grid__column:nth-child(7) {
        -webkit-animation-delay: -60s;
        animation-delay: -60s
    }
}

.clients-grid__column:nth-child(8) {
    -webkit-animation-delay: -17.77778s;
    animation-delay: -17.77778s
}

@media (min-width:720px) {
    .clients-grid__column:nth-child(8) {
        -webkit-animation-delay: -28.88889s;
        animation-delay: -28.88889s
    }
}

@media (min-width:960px) {
    .clients-grid__column:nth-child(8) {
        -webkit-animation-delay: -40s;
        animation-delay: -40s
    }
}

.clients-grid__column:nth-child(9) {
    -webkit-animation-delay: -8.88889s;
    animation-delay: -8.88889s
}

@media (min-width:720px) {
    .clients-grid__column:nth-child(9) {
        -webkit-animation-delay: -14.44444s;
        animation-delay: -14.44444s
    }
}

@media (min-width:960px) {
    .clients-grid__column:nth-child(9) {
        -webkit-animation-delay: -20s;
        animation-delay: -20s
    }
}

.clients-grid__column:nth-child(n+10) {
    display: none
}

@-webkit-keyframes columns-trajectory-0 {
    0% {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(825px, 10px, 0);
        transform: rotate(.001deg) translate3d(825px, 10px, 0)
    }
    5%,
    95% {
        opacity: 0
    }
    6%,
    94% {
        opacity: 1
    }
    50% {
        -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
        transform: rotate(.001deg) translate3d(0, 310px, 0)
    }
    to {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(-825px, 10px, 0);
        transform: rotate(.001deg) translate3d(-825px, 10px, 0)
    }
}

@keyframes columns-trajectory-0 {
    0% {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(825px, 10px, 0);
        transform: rotate(.001deg) translate3d(825px, 10px, 0)
    }
    5%,
    95% {
        opacity: 0
    }
    6%,
    94% {
        opacity: 1
    }
    50% {
        -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
        transform: rotate(.001deg) translate3d(0, 310px, 0)
    }
    to {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(-825px, 10px, 0);
        transform: rotate(.001deg) translate3d(-825px, 10px, 0)
    }
}

@-webkit-keyframes columns-trajectory-600 {
    0% {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(1040px, 10px, 0);
        transform: rotate(.001deg) translate3d(1040px, 10px, 0)
    }
    5%,
    95% {
        opacity: 0
    }
    6%,
    94% {
        opacity: 1
    }
    50% {
        -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
        transform: rotate(.001deg) translate3d(0, 310px, 0)
    }
    to {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(-1040px, 10px, 0);
        transform: rotate(.001deg) translate3d(-1040px, 10px, 0)
    }
}

@keyframes columns-trajectory-600 {
    0% {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(1040px, 10px, 0);
        transform: rotate(.001deg) translate3d(1040px, 10px, 0)
    }
    5%,
    95% {
        opacity: 0
    }
    6%,
    94% {
        opacity: 1
    }
    50% {
        -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
        transform: rotate(.001deg) translate3d(0, 310px, 0)
    }
    to {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(-1040px, 10px, 0);
        transform: rotate(.001deg) translate3d(-1040px, 10px, 0)
    }
}

@-webkit-keyframes columns-trajectory-1000 {
    0% {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(1255px, 10px, 0);
        transform: rotate(.001deg) translate3d(1255px, 10px, 0)
    }
    5%,
    95% {
        opacity: 0
    }
    6%,
    94% {
        opacity: 1
    }
    50% {
        -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
        transform: rotate(.001deg) translate3d(0, 310px, 0)
    }
    to {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(-1255px, 10px, 0);
        transform: rotate(.001deg) translate3d(-1255px, 10px, 0)
    }
}

@keyframes columns-trajectory-1000 {
    0% {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(1255px, 10px, 0);
        transform: rotate(.001deg) translate3d(1255px, 10px, 0)
    }
    5%,
    95% {
        opacity: 0
    }
    6%,
    94% {
        opacity: 1
    }
    50% {
        -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
        transform: rotate(.001deg) translate3d(0, 310px, 0)
    }
    to {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(-1255px, 10px, 0);
        transform: rotate(.001deg) translate3d(-1255px, 10px, 0)
    }
}

@-webkit-keyframes columns-trajectory-1400 {
    0% {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(1595px, 10px, 0);
        transform: rotate(.001deg) translate3d(1595px, 10px, 0)
    }
    5%,
    95% {
        opacity: 0
    }
    6%,
    94% {
        opacity: 1
    }
    50% {
        -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
        transform: rotate(.001deg) translate3d(0, 310px, 0)
    }
    to {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(-1595px, 10px, 0);
        transform: rotate(.001deg) translate3d(-1595px, 10px, 0)
    }
}

@keyframes columns-trajectory-1400 {
    0% {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(1595px, 10px, 0);
        transform: rotate(.001deg) translate3d(1595px, 10px, 0)
    }
    5%,
    95% {
        opacity: 0
    }
    6%,
    94% {
        opacity: 1
    }
    50% {
        -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
        transform: rotate(.001deg) translate3d(0, 310px, 0)
    }
    to {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(-1595px, 10px, 0);
        transform: rotate(.001deg) translate3d(-1595px, 10px, 0)
    }
}

@-webkit-keyframes columns-trajectory-1800 {
    0% {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(1685px, 10px, 0);
        transform: rotate(.001deg) translate3d(1685px, 10px, 0)
    }
    5%,
    95% {
        opacity: 0
    }
    6%,
    94% {
        opacity: 1
    }
    50% {
        -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
        transform: rotate(.001deg) translate3d(0, 310px, 0)
    }
    to {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(-1685px, 10px, 0);
        transform: rotate(.001deg) translate3d(-1685px, 10px, 0)
    }
}

@keyframes columns-trajectory-1800 {
    0% {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(1685px, 10px, 0);
        transform: rotate(.001deg) translate3d(1685px, 10px, 0)
    }
    5%,
    95% {
        opacity: 0
    }
    6%,
    94% {
        opacity: 1
    }
    50% {
        -webkit-transform: rotate(.001deg) translate3d(0, 310px, 0);
        transform: rotate(.001deg) translate3d(0, 310px, 0)
    }
    to {
        opacity: 0;
        -webkit-transform: rotate(.001deg) translate3d(-1685px, 10px, 0);
        transform: rotate(.001deg) translate3d(-1685px, 10px, 0)
    }
}

.clients-grid__item {
    overflow: hidden;
    position: relative;
    width: 100%;
    /*height: 160px;*/
    background: transparent;
    background-size: cover;
    color: #fff;
    border-radius: 5px;
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, .1);*/
    -webkit-animation: card-jiggle 30s infinite alternate;
    animation: card-jiggle 30s infinite alternate;
    -webkit-transition: opacity .15s, -webkit-transform .7s cubic-bezier(.205, .96, .375, 1.025);
    transition: opacity .15s, transform .7s cubic-bezier(.205, .96, .375, 1.025);
    transition: opacity .15s, transform .7s cubic-bezier(.205, .96, .375, 1.025), -webkit-transform .7s cubic-bezier(.205, .96, .375, 1.025)
}

.clients-grid__item img{
    width: 100%;
}

/*@media (min-width:600px) {
    .clients-grid__item {
        height: 200px
    }
}

@media (min-width:1000px) {
    .clients-grid__item {
        height: 240px
    }
}

@media (min-width:1400px) {
    .clients-grid__item {
        height: 260px
    }
}

@media (min-width:1800px) {
    .clients-grid__item {
        height: 280px
    }
}*/

.clients-grid__item-container {
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transition: opacity .25s, -webkit-transform .7s cubic-bezier(.205, .96, .375, 1.025);
    transition: opacity .25s, transform .7s cubic-bezier(.205, .96, .375, 1.025);
    transition: opacity .25s, transform .7s cubic-bezier(.205, .96, .375, 1.025), -webkit-transform .7s cubic-bezier(.205, .96, .375, 1.025)
}

.is-preparing .clients-grid__item-container {
    opacity: 0;
    -webkit-transform: translateY(130px) scale(.8);
    transform: translateY(130px) scale(.8)
}

@-webkit-keyframes card-jiggle {
    0% {
        -webkit-transform: translate3d(-4px, 2px, 0);
        transform: translate3d(-4px, 2px, 0)
    }
    10% {
        -webkit-transform: translate3d(4px, 1px, 0);
        transform: translate3d(4px, 1px, 0)
    }
    20% {
        -webkit-transform: translate3d(-1px, 1px, 0);
        transform: translate3d(-1px, 1px, 0)
    }
    30% {
        -webkit-transform: translate3d(3px, -4px, 0);
        transform: translate3d(3px, -4px, 0)
    }
    40% {
        -webkit-transform: translate3d(1px, -2px, 0);
        transform: translate3d(1px, -2px, 0)
    }
    50% {
        -webkit-transform: translate3d(0, 3px, 0);
        transform: translate3d(0, 3px, 0)
    }
    60% {
        -webkit-transform: translate3d(5px, 2px, 0);
        transform: translate3d(5px, 2px, 0)
    }
    70% {
        -webkit-transform: translate3d(1px, 1px, 0);
        transform: translate3d(1px, 1px, 0)
    }
    80% {
        -webkit-transform: translate3d(1px, 4px, 0);
        transform: translate3d(1px, 4px, 0)
    }
    90% {
        -webkit-transform: translate3d(-4px, 3px, 0);
        transform: translate3d(-4px, 3px, 0)
    }
    to {
        -webkit-transform: translate3d(-1px, 3px, 0);
        transform: translate3d(-1px, 3px, 0)
    }
}

@keyframes card-jiggle {
    0% {
        -webkit-transform: translate3d(-4px, 2px, 0);
        transform: translate3d(-4px, 2px, 0)
    }
    10% {
        -webkit-transform: translate3d(4px, 1px, 0);
        transform: translate3d(4px, 1px, 0)
    }
    20% {
        -webkit-transform: translate3d(-1px, 1px, 0);
        transform: translate3d(-1px, 1px, 0)
    }
    30% {
        -webkit-transform: translate3d(3px, -4px, 0);
        transform: translate3d(3px, -4px, 0)
    }
    40% {
        -webkit-transform: translate3d(1px, -2px, 0);
        transform: translate3d(1px, -2px, 0)
    }
    50% {
        -webkit-transform: translate3d(0, 3px, 0);
        transform: translate3d(0, 3px, 0)
    }
    60% {
        -webkit-transform: translate3d(5px, 2px, 0);
        transform: translate3d(5px, 2px, 0)
    }
    70% {
        -webkit-transform: translate3d(1px, 1px, 0);
        transform: translate3d(1px, 1px, 0)
    }
    80% {
        -webkit-transform: translate3d(1px, 4px, 0);
        transform: translate3d(1px, 4px, 0)
    }
    90% {
        -webkit-transform: translate3d(-4px, 3px, 0);
        transform: translate3d(-4px, 3px, 0)
    }
    to {
        -webkit-transform: translate3d(-1px, 3px, 0);
        transform: translate3d(-1px, 3px, 0)
    }
}

.clients-grid__column:nth-child(1) .clients-grid__item:nth-child(1) {
    -webkit-animation-delay: -13.79485s;
    animation-delay: -13.79485s
}

.clients-grid__column:nth-child(1) .clients-grid__item-container:nth-child(1) {
    -webkit-transition-delay: .75s;
    transition-delay: .75s
}

.clients-grid__column:nth-child(1) .clients-grid__item:nth-child(2) {
    -webkit-animation-delay: -12.03944s;
    animation-delay: -12.03944s
}

.clients-grid__column:nth-child(1) .clients-grid__item-container:nth-child(2) {
    -webkit-transition-delay: .8s;
    transition-delay: .8s
}

.clients-grid__column:nth-child(2) .clients-grid__item:nth-child(1) {
    -webkit-animation-delay: -28.74674s;
    animation-delay: -28.74674s
}

.clients-grid__column:nth-child(2) .clients-grid__item-container:nth-child(1) {
    -webkit-transition-delay: .8s;
    transition-delay: .8s
}

.clients-grid__column:nth-child(2) .clients-grid__item:nth-child(2) {
    -webkit-animation-delay: -14.87265s;
    animation-delay: -14.87265s
}

.clients-grid__column:nth-child(2) .clients-grid__item-container:nth-child(2) {
    -webkit-transition-delay: .85s;
    transition-delay: .85s
}

.clients-grid__column:nth-child(3) .clients-grid__item:nth-child(1) {
    -webkit-animation-delay: -1.50835s;
    animation-delay: -1.50835s
}

.clients-grid__column:nth-child(3) .clients-grid__item-container:nth-child(1) {
    -webkit-transition-delay: .85s;
    transition-delay: .85s
}

.clients-grid__column:nth-child(3) .clients-grid__item:nth-child(2) {
    -webkit-animation-delay: -17.94392s;
    animation-delay: -17.94392s
}

.clients-grid__column:nth-child(3) .clients-grid__item-container:nth-child(2) {
    -webkit-transition-delay: .9s;
    transition-delay: .9s
}

.clients-grid__column:nth-child(4) .clients-grid__item:nth-child(1) {
    -webkit-animation-delay: -24.6262s;
    animation-delay: -24.6262s
}

.clients-grid__column:nth-child(4) .clients-grid__item-container:nth-child(1) {
    -webkit-transition-delay: .9s;
    transition-delay: .9s
}

.clients-grid__column:nth-child(4) .clients-grid__item:nth-child(2) {
    -webkit-animation-delay: -5.29206s;
    animation-delay: -5.29206s
}

.clients-grid__column:nth-child(4) .clients-grid__item-container:nth-child(2) {
    -webkit-transition-delay: .95s;
    transition-delay: .95s
}

.clients-grid__column:nth-child(5) .clients-grid__item:nth-child(1) {
    -webkit-animation-delay: -24.31652s;
    animation-delay: -24.31652s
}

.clients-grid__column:nth-child(5) .clients-grid__item-container:nth-child(1) {
    -webkit-transition-delay: .95s;
    transition-delay: .95s
}

.clients-grid__column:nth-child(5) .clients-grid__item:nth-child(2) {
    -webkit-animation-delay: -23.04603s;
    animation-delay: -23.04603s
}

.clients-grid__column:nth-child(5) .clients-grid__item-container:nth-child(2) {
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}

.clients-grid__column:nth-child(6) .clients-grid__item:nth-child(1) {
    -webkit-animation-delay: -25.20186s;
    animation-delay: -25.20186s
}

.clients-grid__column:nth-child(6) .clients-grid__item-container:nth-child(1) {
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}

.clients-grid__column:nth-child(6) .clients-grid__item:nth-child(2) {
    -webkit-animation-delay: -27.64775s;
    animation-delay: -27.64775s
}

.clients-grid__column:nth-child(6) .clients-grid__item-container:nth-child(2) {
    -webkit-transition-delay: 1.05s;
    transition-delay: 1.05s
}

.clients-grid__column:nth-child(7) .clients-grid__item:nth-child(1) {
    -webkit-animation-delay: -14.0725s;
    animation-delay: -14.0725s
}

.clients-grid__column:nth-child(7) .clients-grid__item-container:nth-child(1) {
    -webkit-transition-delay: 1.05s;
    transition-delay: 1.05s
}

.clients-grid__column:nth-child(7) .clients-grid__item:nth-child(2) {
    -webkit-animation-delay: -25.28172s;
    animation-delay: -25.28172s
}

.clients-grid__column:nth-child(7) .clients-grid__item-container:nth-child(2) {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s
}

.clients-grid__column:nth-child(8) .clients-grid__item:nth-child(1) {
    -webkit-animation-delay: -6.25482s;
    animation-delay: -6.25482s
}

.clients-grid__column:nth-child(8) .clients-grid__item-container:nth-child(1) {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s
}

.clients-grid__column:nth-child(8) .clients-grid__item:nth-child(2) {
    -webkit-animation-delay: -5.61387s;
    animation-delay: -5.61387s
}

.clients-grid__column:nth-child(8) .clients-grid__item-container:nth-child(2) {
    -webkit-transition-delay: 1.15s;
    transition-delay: 1.15s
}

.clients-grid__column:nth-child(9) .clients-grid__item:nth-child(1) {
    -webkit-animation-delay: -22.66788s;
    animation-delay: -22.66788s
}

.clients-grid__column:nth-child(9) .clients-grid__item-container:nth-child(1) {
    -webkit-transition-delay: 1.15s;
    transition-delay: 1.15s
}

.clients-grid__column:nth-child(9) .clients-grid__item:nth-child(2) {
    -webkit-animation-delay: -9.41546s;
    animation-delay: -9.41546s
}

.clients-grid__column:nth-child(9) .clients-grid__item-container:nth-child(2) {
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s
}

.clients-grid__item:first-child {
    margin-bottom: 20px
}

@media (min-width:600px) {
    .clients-grid__item:first-child {
        margin-bottom: 20px
    }
}

@media (min-width:1000px) {
    .clients-grid__item:first-child {
        margin-bottom: 20px
    }
}

@media (min-width:1400px) {
    .clients-grid__item:first-child {
        margin-bottom: 20px
    }
}

@media (min-width:1800px) {
    .clients-grid__item:first-child {
        margin-bottom: 20px
    }
}

