@import url(gallery.css);
@import url(../libs/niftymodal/component.css);
@import url(../libs/slick/slick.min.css);
#sec_02, #sec_13 {
  position: relative;
  background-image: url(../img/sec_02-bg.png); }
  #sec_02 .header, #sec_13 .header {
    margin-bottom: 25px; }
  #sec_02 form, #sec_13 form {
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%; }
    #sec_02 form .field, #sec_13 form .field {
      display: block;
      margin: 0 auto; }
    #sec_02 form .field + .field, #sec_13 form .field + .field {
      margin-top: 15px; }
    #sec_02 form .btn, #sec_13 form .btn {
      margin-top: 35px; }
  #sec_02 [class*='cloud-'], #sec_13 [class*='cloud-'] {
    position: absolute;
    -webkit-animation: clouds_move 50s infinite linear;
    animation: clouds_move 50s infinite linear; }

#sec_02 {
  padding: 200px 0 100px;
  background-repeat: no-repeat;
  background-position: top 510px center; }
  #sec_02 form {
    padding: 230px 0 300px;
    background-image: url(../img/sec_02-form.png); }
  #sec_02 .cloud-1 {
    bottom: 530px;
    left: 246px;
    z-index: 3;
    -webkit-animation-delay: -10s;
    animation-delay: -10s; }
  #sec_02 .cloud-2 {
    bottom: 300px;
    left: -10px;
    -webkit-animation-delay: -17.3s;
    animation-delay: -17.3s; }
  #sec_02 .cloud-3 {
    bottom: 420px;
    right: 140px;
    z-index: 1;
    -webkit-animation-delay: -20.24s;
    animation-delay: -20.24s; }
  #sec_02 .cloud-4 {
    bottom: 22px;
    left: 88px;
    -webkit-animation-delay: -25.1s;
    animation-delay: -25.1s; }
  #sec_02 .cloud-5 {
    bottom: 8px;
    right: 87px;
    z-index: 3;
    -webkit-animation-delay: -41.1s;
    animation-delay: -41.1s; }
  #sec_02 .cloud-6 {
    bottom: -10px;
    right: -30px;
    z-index: 2;
    -webkit-animation-delay: -30.8s;
    animation-delay: -30.8s; }

@-webkit-keyframes clouds_move {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px); }
  10% {
    -webkit-transform: translate(40px, 40px);
    transform: translate(40px, 40px); }
  20% {
    -webkit-transform: translate(-25px, -25px);
    transform: translate(-25px, -25px); }
  40% {
    -webkit-transform: translate(30px, -5px);
    transform: translate(30px, -5px); }
  60% {
    -webkit-transform: translate(-35px, 20px);
    transform: translate(-35px, 20px); }
  80% {
    -webkit-transform: translate(20px, -10px);
    transform: translate(20px, -10px); }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px); } }

@keyframes clouds_move {
  0% {
    -webkit-transform: translate(0px);
    transform: translate(0px); }
  10% {
    -webkit-transform: translate(40px, 40px);
    transform: translate(40px, 40px); }
  20% {
    -webkit-transform: translate(-25px, -25px);
    transform: translate(-25px, -25px); }
  40% {
    -webkit-transform: translate(30px, -5px);
    transform: translate(30px, -5px); }
  60% {
    -webkit-transform: translate(-35px, 20px);
    transform: translate(-35px, 20px); }
  80% {
    -webkit-transform: translate(20px, -10px);
    transform: translate(20px, -10px); }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px); } }

#sec_03 {
  padding: 95px 0 0px;
  overflow: hidden;
  position: relative;
  z-index: 2; }
  #sec_03 .header {
    padding-left: 55px;
    margin-bottom: 100px;
    letter-spacing: .032em; }
  #sec_03 .sec_img {
    margin-top: -400px; }
  #sec_03 .item {
    padding-left: 50px;
    padding-top: 10px; }
  #sec_03 .item + .item {
    margin-top: 40px; }
  #sec_03 .title {
    position: relative;
    z-index: 2;
    margin-bottom: 20px; }
    #sec_03 .title svg {
      position: absolute;
      z-index: -1;
      left: -10px;
      top: -10px;
      width: 67px; }
  #sec_03 .slick-dots {
    text-align: left;
    padding-left: 50px;
    bottom: 0px; }
  #sec_03 .sec_03-slider {
    padding-bottom: 90px; }

#sec_04 {
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(../img/sec_04-bg.png);
  margin-top: -370px;
  padding: 500px 0 100px; }
  #sec_04 .header {
    margin-bottom: 85px; }
  #sec_04 .ytwrap {
    position: relative;
    z-index: 2;
    width: 753px;
    height: 424px;
    margin: 0 auto; }
    #sec_04 .ytwrap:before {
      content: "";
      position: absolute;
      top: -28px;
      left: -95px;
      background-repeat: no-repeat;
      background-position: top center;
      background-image: url(../img/youtube-before.png);
      width: 948px;
      height: 480px;
      -webkit-box-shadow: 0 5px 81px rgba(0, 0, 0, 0.7);
      box-shadow: 0 5px 81px rgba(0, 0, 0, 0.7);
      -webkit-border-radius: 40px;
      border-radius: 40px;
      z-index: -1; }
  #sec_04 .youtube {
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/youtube-bg.png);
    width: 753px;
    height: 424px;
    z-index: 2; }
    #sec_04 .youtube .play {
      width: 65px;
      height: 75px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -40px;
      margin-left: -32px; }
      #sec_04 .youtube .play path {
        -webkit-transition: fill .3s;
        transition: fill .3s; }
      #sec_04 .youtube .play .cls-yta-1 {
        display: none; }
    #sec_04 .youtube:hover svg .cls-ytp-1 {
      fill: #32a1dc; }
    #sec_04 .youtube:hover svg .cls-ytp-2 {
      fill: #3bb6f8; }
    #sec_04 .youtube:active .cls-ytp-1 {
      -webkit-transform: transition(0 0);
      -ms-transform: transition(0 0);
      transform: transition(0 0); }
    #sec_04 .youtube:active .cls-ytp-2 {
      display: none; }

#sec_05 {
  padding: 130px 0 100px; }
  #sec_05 .header {
    padding-left: 55px;
    margin-bottom: 100px;
    letter-spacing: 0; }
  #sec_05 .baloon-1 {
    margin-top: -180px;
    margin-left: -40px;
    margin-bottom: -20px; }
  #sec_05 .baloon-2 {
    margin-top: 115px;
    margin-left: -50px; }
  #sec_05 .slider_05 {
    -webkit-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 40px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  #sec_05 .slick-dots {
    width: 40px;
    top: 50%;
    bottom: initial;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -65px; }
    #sec_05 .slick-dots li {
      display: block; }
    #sec_05 .slick-dots li + li {
      margin-top: 20px; }
  #sec_05 .item_big {
    margin-top: 85px; }
    #sec_05 .item_big .title_header {
      margin-bottom: 30px; }
    #sec_05 .item_big .text {
      font-size: 24px; }
  #sec_05 .second_row {
    margin-top: 115px;
    margin-bottom: 80px; }
  #sec_05 .item--margined {
    margin-left: 47px; }
  #sec_05 .item .title {
    margin-bottom: 25px; }
  #sec_05 .sec_img-1 {
    margin-top: -70px; }

#sec_06 {
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(../img/sec_06-bg.png);
  margin-top: -720px;
  padding-top: 670px;
  padding-bottom: 280px; }
  #sec_06 .header {
    margin-bottom: 20px; }
  #sec_06 img {
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  #sec_06 .btn {
    margin: 80px auto 0; }
    #sec_06 .btn:hover svg .cls-btn-2 {
      fill: #A830DD; }
    #sec_06 .btn:hover svg .cls-btn-1 {
      fill: #9027BE; }

#sec_07 {
  padding: 50px 0 100px; }
  #sec_07 .mobile {
    display: none; }
  #sec_07 .header_main {
    margin-bottom: 60px; }
  #sec_07 .item_row {
    -webkit-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 40px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000;
    margin-left: 0;
    margin-right: 0;
    padding-top: 40px; }
  #sec_07 .sec_img {
    margin-left: -15px;
    margin-bottom: -10px; }
  #sec_07 .list_item {
    margin-top: 15px;
    line-height: 22px; }
    #sec_07 .list_item li {
      position: relative;
      padding-left: 20px; }
      #sec_07 .list_item li svg {
        width: 13px;
        position: absolute;
        left: 0;
        top: 4px; }
    #sec_07 .list_item .closed {
      color: #c8c8c8; }
    #sec_07 .list_item li + li {
      margin-top: 23px; }
  #sec_07 .btn {
    margin-top: 72px; }
  #sec_07 .item_row + .item_row {
    margin-top: 35px; }
  #sec_07 .item_row_last {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-image: url(../img/sec_07-img-3.png);
    min-height: 500px; }
    #sec_07 .item_row_last .item {
      width: 360px;
      float: right;
      margin: 65px 185px 0 0; }
      #sec_07 .item_row_last .item .text {
        margin: 10px 0 30px; }
    #sec_07 .item_row_last .btn {
      margin: 0 auto;
      width: 360px; }

#sec_08 {
  padding: 50px 0 100px;
  position: relative; }
  #sec_08:before {
    content: "";
    position: absolute;
    width: 784px;
    height: 1382px;
    top: -180px;
    left: 62%;
    background: url(../img/sec_08-bg.png); }
  #sec_08 .header {
    margin-bottom: 30px; }
  #sec_08 .text + .text {
    margin-top: 15px; }

#sec_09 {
  padding: 40px 0 0px; }
  #sec_09 .header {
    margin-bottom: 340px; }
    #sec_09 .header:before {
      content: "";
      position: absolute;
      width: 681px;
      height: 540px;
      bottom: -550px;
      left: 335px;
      background: url(../img/sec_09-before.png);
      z-index: -1; }
  #sec_09 form {
    position: relative;
    z-index: 3;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/sec_09-bln-1.png);
    width: 652px;
    padding: 190px 0 300px;
    text-align: center; }
    #sec_09 form .field {
      display: block;
      margin: 0 auto; }
    #sec_09 form .field + .field {
      margin-top: 15px; }
    #sec_09 form .btn {
      margin-top: 35px; }
  #sec_09 .item {
    position: relative;
    z-index: 2;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/sec_09-bln-1.png);
    width: 652px;
    padding: 225px 0 300px;
    text-align: center;
    float: right;
    margin-left: -200px;
    margin-top: 125px; }
    #sec_09 .item .title_header {
      margin-bottom: 30px;
      line-height: 42px; }
    #sec_09 .item .counter {
      position: relative;
      text-align: center;
      width: 293px;
      height: 127px;
      margin: 0 auto;
      font-size: 72px;
      line-height: 120px; }
      #sec_09 .item .counter span {
        position: relative;
        z-index: 2; }
      #sec_09 .item .counter svg {
        position: absolute;
        width: 293px;
        top: 0;
        left: 0;
        z-index: 1; }

#sec_10 {
  position: relative;
  z-index: 3;
  margin-top: -280px;
  padding-top: 470px;
  padding-bottom: 350px;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(../img/sec_10-bg.png);
  color: #000; }
  #sec_10 .title {
    margin-bottom: 30px;
    line-height: 36px; }

#sec_11 {
  padding: 115px 0;
  position: relative;
  z-index: 3; }
  #sec_11 .header {
    margin-bottom: 20px; }
  #sec_11 .slider_11 {
    background-repeat: no-repeat;
    background-position: top left;
    background-image: url(../img/sec_11-slider-bg.png);
    padding: 90px 0 0; }
  #sec_11 .dialog {
    min-width: 555px;
    min-height: 219px;
    padding: 0 70px 0 90px;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/dialog.png); }
  #sec_11 .name {
    font-size: 24px;
    line-height: 28px;
    margin-left: 100px;
    margin-bottom: 25px;
    margin-top: 0px; }
  #sec_11 .slick-dots {
    bottom: -60px; }

#sec_12 {
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(../img/sec_12-bg.png);
  margin-top: -155px;
  padding-top: 485px;
  padding-bottom: 200px; }
  #sec_12 .header {
    padding-left: 70px;
    margin-bottom: 20px; }
    #sec_12 .header svg {
      width: 205px;
      position: absolute;
      top: -75px;
      left: 0px; }
  #sec_12 .description {
    padding-left: 70px;
    position: relative;
    z-index: 3;
    line-height: 30px; }
  #sec_12 .step_number {
    position: relative;
    z-index: 2;
    width: 123px;
    text-align: center;
    margin-bottom: 10px; }
    #sec_12 .step_number svg {
      width: 123px;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1; }
    #sec_12 .step_number span {
      font-size: 60px;
      line-height: 123px; }
    #sec_12 .step_number:before {
      content: "";
      position: absolute;
      width: 215px;
      height: 144px;
      background-repeat: no-repeat;
      background-position: top center; }
  #sec_12 .item .title,
  #sec_12 .item .text {
    padding-left: 25px; }
  #sec_12 .item .text {
    font-size: 24px;
    line-height: 28px; }
  #sec_12 .item .title {
    margin-bottom: 20px; }
  #sec_12 .item-1 {
    margin-top: -140px;
    position: relative;
    z-index: 2; }
    #sec_12 .item-1 .step_number:before {
      background-image: url(../img/sec_12-img-1.png);
      top: -10px;
      right: -210px; }
    #sec_12 .item-1:before {
      content: "";
      position: absolute;
      width: 694px;
      height: 1246px;
      top: 62px;
      right: 396px;
      background: url(../img/pass.png); }
  #sec_12 .item-2 {
    margin-top: -35px; }
    #sec_12 .item-2 .step_number:before {
      background-image: url(../img/sec_12-img-2.png);
      top: -40px;
      right: -245px; }
  #sec_12 .item-3 {
    margin-top: 10px; }
    #sec_12 .item-3 .step_number:before {
      background-image: url(../img/sec_12-img-4.png);
      top: -5px;
      right: -255px; }
  #sec_12 .item-4 {
    margin-top: -170px; }
    #sec_12 .item-4 .step_number:before {
      background-image: url(../img/sec_12-img-3.png);
      top: 0;
      right: -195px; }
  #sec_12 .item-5 {
    margin-top: -5px; }
    #sec_12 .item-5 .step_number:before {
      background-image: url(../img/sec_12-img-5.png);
      top: -55px;
      right: -190px; }
  #sec_12 .item-6 {
    margin-top: -110px; }
    #sec_12 .item-6 .step_number {
      margin-bottom: -30px; }
  #sec_12 .slider_12_mobile {
    display: none; }

#sec_13 {
  padding: 125px 0 100px;
  background-repeat: no-repeat;
  background-position: top 510px center; }
  #sec_13 .description {
    margin-bottom: 15px; }
  #sec_13 form {
    padding: 150px 0 300px;
    background-image: url(../img/sec_13-form.png); }
  #sec_13 .cloud-1 {
    bottom: 600px;
    left: 186px;
    z-index: 1;
    -webkit-animation-delay: -10s;
    animation-delay: -10s; }
  #sec_13 .cloud-2 {
    bottom: 370px;
    left: -10px;
    -webkit-animation-delay: -17.3s;
    animation-delay: -17.3s; }
  #sec_13 .cloud-3 {
    bottom: 490px;
    right: 140px;
    z-index: 1;
    -webkit-animation-delay: -20.24s;
    animation-delay: -20.24s; }
  #sec_13 .cloud-4 {
    bottom: 92px;
    left: 88px;
    -webkit-animation-delay: -25.1s;
    animation-delay: -25.1s; }
  #sec_13 .cloud-5 {
    bottom: 78px;
    right: 87px;
    z-index: 3;
    -webkit-animation-delay: -41.1s;
    animation-delay: -41.1s; }
  #sec_13 .cloud-6 {
    bottom: 60px;
    right: -30px;
    z-index: 2;
    -webkit-animation-delay: -30.8s;
    animation-delay: -30.8s; }

#sec_14 {
  padding: 10px 0 0px; }
  #sec_14 .container {
    border-bottom: 1px solid #81e3b8;
    padding-bottom: 30px; }
  #sec_14 .social {
    float: right;
    margin-right: 40px;
    margin-top: 8px; }
    #sec_14 .social svg {
      fill: #fff;
      height: 24px;
      -webkit-transition: fill .3s;
      transition: fill .3s; }
    #sec_14 .social a:hover svg {
      fill: #ff2a56; }
    #sec_14 .social li {
      display: inline-block; }
    #sec_14 .social li + li {
      margin-left: 20px; }
  #sec_14 .phones_block {
    float: right; }
  #sec_14 .tel {
    display: block;
    float: left;
    line-height: 42px;
    margin-right: 55px;
    letter-spacing: .04em;
    color: #fff;
    cursor: pointer; }
    #sec_14 .tel:hover {
      color: #ff2a56; }
  #sec_14 .call_back {
    position: relative;
    display: block;
    float: left;
    width: 42px;
    height: 39px; }
    #sec_14 .call_back svg {
      width: 100%;
      cursor: pointer; }
      #sec_14 .call_back svg path {
        -webkit-transition: fill .3s;
        transition: fill .3s; }
      #sec_14 .call_back svg .cls-cba-1 {
        display: none; }
    #sec_14 .call_back span {
      position: absolute;
      z-index: 2;
      height: 100%;
      width: 100%;
      display: block;
      text-align: center;
      cursor: pointer;
      top: 0;
      left: 0;
      padding-top: 8px; }
    #sec_14 .call_back:hover svg .cls-cb-1 {
      fill: #32a1dc; }
    #sec_14 .call_back:hover svg .cls-cb-2 {
      fill: #3bb6f8; }
    #sec_14 .call_back:active .cls-cb-1 {
      -webkit-transform: transition(0 0);
      -ms-transform: transition(0 0);
      transform: transition(0 0); }
    #sec_14 .call_back:active .cls-cb-2 {
      display: none; }
    #sec_14 .call_back:active span {
      top: 2px; }

footer {
  padding: 15px 0 15px; }
  footer .politics {
    margin-top: 13px; }
    footer .politics a {
      color: #fff;
      font-size: 18px; }
    footer .politics a:hover {
      color: #ff2a56; }
    footer .politics a + a {
      margin-left: 10px; }
  footer .logo_rezart {
    margin-left: 25px;
    width: 55px;
    float: right; }
    footer .logo_rezart svg {
      fill: #fff;
      -webkit-transition: fill .3s;
      transition: fill .3s; }
    footer .logo_rezart:hover svg {
      fill: #ff2a56; }

/* ================================*/
/* CURSOR STYLES*/
.touch_mode_grab {
  cursor: grab !important;
  cursor: -webkit-grab !important; }

.touch_mode_grabbing {
  cursor: grabbing !important;
  cursor: -webkit-grabbing !important; }

/* ==========================*/
.tabs__content {
  display: none !important; }

.tabs__content.active {
  display: block !important; }

.hidden {
  height: 0;
  width: 0; }

div[id*="modal_callback"] {
  max-width: 500px; }
  div[id*="modal_callback"] h2 {
    font-size: 29px;
    line-height: 36px;
    margin: 30px 30px 0px; }
  div[id*="modal_callback"] .h2_desc {
    margin-bottom: 25px; }
  div[id*="modal_callback"] .md-content {
    padding: 20px;
    background: #fff;
    background-size: cover;
    text-align: center; }
  div[id*="modal_callback"] .form-wrap {
    display: block; }
  div[id*="modal_callback"] .field {
    max-width: 360px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    div[id*="modal_callback"] .field input {
      width: 100%; }
  div[id*="modal_callback"] .field + .field {
    margin-top: 5px; }
  div[id*="modal_callback"] .btn {
    margin: 10px auto 0; }

.field {
  position: relative;
  display: inline-block; }

div[id*="modal_politics"] {
  text-align: center; }
  div[id*="modal_politics"] h2 {
    padding-top: 50px; }

.md_large {
  max-width: 100%;
  width: 90%; }

.md_large .md-content > div.md_content {
  padding: 0px 40px 0px; }

.md_large .md-content p {
  font-size: 0.9em;
  line-height: 1.4; }

.md_large .md-content p:first-child {
  padding-top: 24px; }

.md_large .md-content p:last-child {
  padding-bottom: 24px; }

.md_large .md_content {
  max-height: 680px;
  overflow: auto;
  padding-top: 24px; }

.md_content:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, white, rgba(255, 255, 255, 0));
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
  background-repeat: repeat-x; }

.md_content:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 24px;
  bottom: 0;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0)), to(white));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  background-repeat: repeat-x; }

.md-content h2 {
  text-align: center; }

.md_bottom {
  padding: 12px 0 0 0; }

.md-content .form_input {
  width: 45%; }

.form_icon {
  position: absolute;
  width: 40px;
  color: #cfcfcf; }

.form_icon i {
  font-size: 18px;
  line-height: 54px; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 50%;
  margin-top: -10px;
  display: block;
  right: 15px;
  height: 20px;
  width: 20px;
  color: #FF6565;
  cursor: default; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  line-height: 14px;
  color: #000;
  font-style: italic;
  font-size: 13px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: center; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -10px;
  opacity: 1; }

.btn_close_modal {
  position: absolute;
  right: 15px;
  z-index: 10;
  top: 15px;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  margin: 0 auto 20px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
  .btn_close_modal svg {
    width: 40px; }
  .btn_close_modal a {
    color: #000;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .btn_close_modal a svg .a {
      -webkit-transition: all .3s;
      transition: all .3s;
      fill: #d4d4d4; }
  .btn_close_modal a:hover {
    color: #000; }
    .btn_close_modal a:hover svg .a {
      fill: #ff2a56; }

.t_small {
  font-size: 14px; }

.slick-dots {
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100%;
  text-align: center; }

.slick-dots li {
  display: inline-block;
  width: 40px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li.slick-active button {
  background: #ff2a56; }

.slick-dots li button {
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 16px;
  line-height: 0;
  outline: medium none;
  padding: 2px;
  width: 16px; }

.slick-next, .slick-prev {
  bottom: initial;
  top: 200px;
  background: none;
  width: 20px;
  height: 20px; }

.slick-next {
  border-top: 4px solid #000;
  border-right: 4px solid #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 10px;
  margin: 0; }

.slick-prev {
  border-top: 4px solid #000;
  border-left: 4px solid #000;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 10px;
  margin: 0; }

.slick-next:hover {
  border-top: 4px solid #ff2a56;
  border-right: 4px solid #ff2a56; }

.slick-prev:hover {
  border-top: 4px solid #ff2a56;
  border-left: 4px solid #ff2a56; }

.slick-next:before, .slick-prev:before {
  display: none; }

.slick-slide {
  outline: none; }

@media (min-width: 768px) and (max-width: 991px) {
  #sec_02 .cloud-5 {
    display: none; }
  footer .politics a {
    font-size: 13px; }
  #sec_04 {
    margin-top: -200px; }
    #sec_04 .ytwrap:before {
      display: none; }
    #sec_04 .ytwrap {
      width: 720px;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
      #sec_04 .ytwrap .youtube {
        width: 720px; }
  #sec_05 .col-9, #sec_05 .col-6.col-offset-1, #sec_05 .slider_col {
    margin-left: 0;
    width: 100%; }
  #sec_05 .text br {
    display: none; }
  #sec_05 img {
    width: 100%; }
  #sec_05 .header {
    margin-right: -60px;
    font-size: 46px; }
  #sec_05 .baloon-1, #sec_05 .baloon-2 {
    display: none; }
  #sec_05 .item_big {
    margin-left: 0px; }
    #sec_05 .item_big br {
      display: none; }
  #sec_05 .sec_img-1 {
    display: none; }
  #sec_05 .sec_img-2 {
    margin-top: -30px; }
  #sec_05 .slider_05 {
    max-width: 458px;
    margin: 0 auto; }
  #sec_05 .col-xs {
    width: 50%; }
  #sec_06 {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/sec_06-bg-1200.png);
    margin-top: -100px;
    padding-top: 200px;
    padding-bottom: 200px; }
  #sec_07 .header {
    margin-bottom: 40px; }
  #sec_07 .item_row {
    padding-bottom: 60px; }
    #sec_07 .item_row img {
      display: none; }
    #sec_07 .item_row .col-5 {
      width: 100%; }
    #sec_07 .item_row .col-3, #sec_07 .item_row .col-4 {
      width: 50%; }
  #sec_07 .item_row_last .item {
    margin: 45px 10px 0 0; }
  #sec_07 .btn {
    margin-left: 165px; }
  #sec_07 .list_item {
    padding-left: 40px; }
  #sec_08 .header {
    font-size: 42px;
    margin-bottom: 100px; }
    #sec_08 .header br {
      display: none; }
  #sec_08 img {
    width: 100%; }
  #sec_08 .text {
    margin-right: -415px; }
    #sec_08 .text br {
      display: none; }
  #sec_09 .header {
    margin-bottom: 50px; }
    #sec_09 .header br {
      display: none; }
  #sec_09 .header:before {
    display: none; }
  #sec_09 form {
    margin: 0 auto;
    display: block;
    padding-bottom: 480px;
    padding-top: 420px;
    background-image: url(../img/sec_09-bln-1-xs.png);
    width: 100%; }
  #sec_09 .item {
    float: none;
    margin: 0px auto 0;
    width: 545px;
    padding: 0;
    background: none; }
    #sec_09 .item .title_header {
      float: left;
      text-align: left;
      margin-top: 20px; }
    #sec_09 .item .counter {
      float: right; }
  #sec_10 {
    margin-top: 0;
    padding-top: 420px; }
    #sec_10 br {
      display: none; }
  #sec_11 .slider_11 .col-6 {
    width: 100%; }
  #sec_11 .slider_11 img {
    width: 100%;
    max-width: 556px;
    margin: 0 auto 40px; }
  #sec_11 .dialog {
    min-width: 100%;
    background: none;
    min-height: 120px; }
  #sec_12 {
    background-size: 100% 100%;
    padding-top: 350px;
    margin-top: -100px; }
    #sec_12 br {
      display: none; }
    #sec_12 [class*='item-'] {
      display: none; }
    #sec_12 .slider_12_mobile {
      display: block; }
    #sec_12 .col-6 {
      width: 100%; }
    #sec_12 .description {
      margin-bottom: 90px; }
  #sec_13 .cloud-6 {
    display: none; }
  footer .politics {
    margin-top: 10px; }
    footer .politics a {
      font-size: 17px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  #sec_03 .header {
    margin-right: -75px; }
  #sec_04 {
    padding-top: 460px; }
    #sec_04 .ytwrap:before {
      left: -100px; }
  #sec_05 .col-6.col-offset-1, #sec_05 .slider_col {
    margin-left: 0;
    width: 50%; }
  #sec_05 .text br {
    display: none; }
  #sec_05 img {
    width: 100%; }
  #sec_05 .header {
    margin-right: -60px;
    font-size: 46px; }
  #sec_05 .baloon-1 {
    margin-bottom: -40px; }
  #sec_05 .baloon-2 {
    margin-left: 0px;
    margin-top: 50px; }
  #sec_05 .item_big {
    margin-left: 45px; }
    #sec_05 .item_big br {
      display: none; }
  #sec_05 .sec_img-1 {
    margin-top: 0; }
  #sec_06 {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/sec_06-bg-1200.png);
    margin-top: -100px;
    padding-top: 200px;
    padding-bottom: 200px; }
  #sec_07 .list_item {
    font-size: 16px; }
    #sec_07 .list_item li + li {
      margin-top: 16px; }
  #sec_07 .btn {
    margin-top: 30px; }
  #sec_07 .item_row img {
    width: 100%; }
  #sec_07 .item_row .header {
    margin-bottom: 90px; }
  #sec_07 .second_row .header {
    margin-bottom: 50px; }
  #sec_07 .item_row_last .item {
    margin: 45px 65px 0 0; }
  #sec_08 .header {
    font-size: 44px; }
    #sec_08 .header br {
      display: none; }
  #sec_08 img {
    width: 100%; }
  #sec_09 .header {
    margin-bottom: 50px; }
  #sec_09 .header:before {
    display: none; }
  #sec_09 form {
    margin: 0 auto;
    display: block;
    padding-bottom: 480px;
    padding-top: 420px;
    background-image: url(../img/sec_09-bln-1-xs.png);
    width: 100%; }
  #sec_09 .item {
    float: none;
    margin: 0px auto 0;
    width: 545px;
    padding: 0;
    background: none; }
    #sec_09 .item .title_header {
      float: left;
      text-align: left;
      margin-top: 20px; }
    #sec_09 .item .counter {
      float: right; }
  #sec_10 {
    margin-top: 0; }
  #sec_11 .slider_11 img {
    width: 100%;
    margin-top: 18px; }
  #sec_11 .dialog {
    min-width: 100%;
    background: none;
    border: 1px dashed #fff;
    -webkit-border-radius: 20px;
    border-radius: 20px; }
  #sec_12 {
    background-size: auto 100%; }
    #sec_12 br {
      display: none; }
    #sec_12 .item-1:before {
      display: none; }
  #sec_13 .cloud-1 {
    left: 106px; }
  #sec_13 .cloud-3 {
    right: 40px; } }

@media screen and (max-height: 760px) {
  .md_large .md_content {
    max-height: 320px; } }

@media (max-width: 767px) {
  .header {
    font-size: 40px; }
    .header br {
      display: none; }
  #sec_02 {
    margin: 0 -40px 0 -30px; }
    #sec_02 .cloud-5 {
      display: none; }
  #sec_03 .sec_img {
    display: none; }
  footer .politics a {
    font-size: 13px; }
  #sec_04 {
    margin-top: -200px;
    padding-bottom: 265px; }
    #sec_04 .ytwrap:before {
      display: none; }
    #sec_04 .ytwrap {
      width: 470px;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      height: 264px; }
      #sec_04 .ytwrap .youtube {
        width: 470px;
        background-size: contain;
        height: 264px; }
  #sec_05 {
    margin-top: -150px; }
    #sec_05 .col-9, #sec_05 .col-6.col-offset-1, #sec_05 .slider_col {
      margin-left: 0;
      width: 100%; }
    #sec_05 .text br {
      display: none; }
    #sec_05 img {
      width: 100%; }
    #sec_05 .header {
      margin-right: -60px;
      font-size: 46px; }
    #sec_05 .baloon-1, #sec_05 .baloon-2 {
      display: none; }
    #sec_05 .item_big {
      margin-left: 0px; }
      #sec_05 .item_big br {
        display: none; }
    #sec_05 .sec_img-1 {
      display: none; }
    #sec_05 .sec_img-2 {
      margin-top: -30px; }
    #sec_05 .slider_05 {
      max-width: 458px;
      margin: 0 auto; }
    #sec_05 .col-xs {
      width: 50%; }
    #sec_05 .item--margined {
      margin-left: 0; }
  #sec_06 {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/sec_06-bg-1200.png);
    margin-top: -100px;
    padding-top: 200px;
    padding-bottom: 200px; }
  #sec_07 .header {
    margin-bottom: 40px; }
  #sec_07 .item_row {
    padding-bottom: 60px;
    position: relative; }
    #sec_07 .item_row img {
      display: none; }
    #sec_07 .item_row .col-5 {
      width: 100%; }
    #sec_07 .item_row .col-3, #sec_07 .item_row .col-4 {
      width: 50%; }
  #sec_07 .item_row_last {
    background: #fff;
    padding: 40px 0 60px;
    min-height: auto; }
    #sec_07 .item_row_last .item {
      margin: 0px auto;
      float: none; }
  #sec_07 .btn {
    margin: 40px auto 0;
    display: none; }
  #sec_07 .mobile, #sec_07 .btn.mobile {
    display: block; }
  #sec_07 .list_item {
    padding-left: 20px; }
  #sec_08 .header {
    font-size: 42px;
    margin-bottom: 60px; }
    #sec_08 .header br {
      display: none; }
  #sec_08 img {
    width: 100%; }
  #sec_08 .text {
    margin-right: 0; }
    #sec_08 .text br {
      display: none; }
  #sec_08 .sec_img {
    margin-top: 60px; }
  #sec_09 .row + .row {
    margin: 0 -40px 0 -30px; }
  #sec_09 .header {
    margin-bottom: 50px; }
    #sec_09 .header br {
      display: none; }
  #sec_09 .header:before {
    display: none; }
  #sec_09 form {
    margin: 0 auto;
    display: block;
    padding-bottom: 480px;
    padding-top: 420px;
    background-image: url(../img/sec_09-bln-1-xs.png);
    width: 100%; }
  #sec_09 .item {
    float: none;
    margin: 0px auto 0;
    width: 545px;
    padding: 0;
    background: none; }
    #sec_09 .item .title_header {
      text-align: center;
      margin-top: 20px; }
  #sec_10 {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/sec_09-bg-xs.png);
    margin-top: 100px;
    padding-top: 140px;
    padding-bottom: 550px; }
    #sec_10 .col-5 {
      margin-left: 0; }
    #sec_10 .item {
      width: 340px;
      margin: 0 auto; }
    #sec_10 br {
      display: none; }
  #sec_11 .slider_11 .col-6 {
    width: 100%; }
  #sec_11 .slider_11 img {
    width: 100%;
    max-width: 556px;
    margin: 0 auto 40px; }
  #sec_11 .dialog {
    min-width: 100%;
    background: none;
    min-height: 120px; }
  #sec_12 {
    background-size: 100% 100%;
    padding-top: 350px;
    margin-top: -100px; }
    #sec_12 br {
      display: none; }
    #sec_12 [class*='item-'] {
      display: none; }
    #sec_12 .slider_12_mobile {
      display: block; }
    #sec_12 .col-6 {
      width: 100%; }
    #sec_12 .description {
      margin-bottom: 90px; }
  #sec_13 {
    padding-bottom: 0; }
    #sec_13 .row + .row {
      margin: 0 -40px 0 -30px; }
    #sec_13 .cloud-6 {
      display: none; }
  #sec_14 .social {
    float: none;
    width: 200px;
    margin: 20px auto 0; }
  footer .politics {
    margin-top: 10px; }
    footer .politics a {
      font-size: 17px; }
  footer {
    text-align: center; }
    footer .politics a {
      font-size: 18px;
      display: block;
      text-align: center; }
    footer .politics a + a {
      margin-left: 0; }
    footer .logo_rezart {
      display: inline-block;
      float: none;
      margin-top: 20px; }
  div[id*="modal_callback"] {
    min-width: 510px; }
    div[id*="modal_callback"] .md-content {
      padding: 35px;
      background: #fff; }
    div[id*="modal_callback"] h2 {
      margin: 30px 0;
      line-height: 34px; }
    div[id*="modal_callback"] form {
      display: block;
      max-width: 390px;
      margin: 0 auto;
      width: 100%; }
    div[id*="modal_callback"] .field {
      max-width: 360px;
      width: 100%; }
    div[id*="modal_callback"] .field + .field {
      margin-top: 15px; }
    div[id*="modal_callback"] .btn {
      margin: 25px auto 0; }
  div[id*='modal_politics'] h2 {
    padding-top: 70px; }
  div[id*='modal_politics'] .btn_close_modal {
    top: 20px; } }
