@import "bourbon";
@import "vars.scss";

body {
	position: relative;
	font: 18px/28px $main_font;
	color: $main_text_color;
	background-color: #05c772;
}

.main_wrap{
    overflow: hidden;
}

.text--title{
    font-family: $title_font;
}
.text--desc{
    font-family: $bold_font;
}

.red{
    color: $main_color;
}

.title_header{
    font-size: 36px;
}

.header{
  position: relative;
  font-size: 48px;
  line-height: 1.2;
}

.title{
    font-size: 30px;
    line-height: 32px;
}

.description{
    font-size: 24px;
    line-height: 1;
}


body.unscroll{
	overflow: hidden;
}

.md-modal.md-show{
    opacity: 1;
  }
.md-modal{
    opacity: 0;
  }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
    width: 10px;
}
 /* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,  0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: $main_color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $main_color;
}

/* BUTTON scrollUP SYLES*/



.btn{
    position: relative;
    max-width: 292px;
    width: 100%;
    height: 62px;
    padding: 0;

    color: #fff;
    background-color: transparent;

    font-size: 20px;
    font-family: $bold_font;
    cursor: pointer;

    svg{
        width: 100%;
        cursor: pointer;
        path{transition: fill .3s;}
        .cls-btna-1{display:none;}
    }
    span{
        position: absolute;
        z-index: 2;
        line-height: 62px;
        width: 100%;
        display: block;
        text-align: center;
        cursor: pointer;
        top: 0;
        left: 0;
    }
    &:hover{
        svg{
            .cls-btn-1{
                fill:#32a1dc;
            }
            .cls-btn-2{
                fill: #3bb6f8;
            }
        }
    }
    &:active{
        .cls-btn-1{
            transform: transition(0 0)
        }
        .cls-btn-2{
            display: none;
        }
        span{
            top: 2px;
        }
    }
}

#sec_00{
  position: relative;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(img/bg.png);
  padding: 30px 0 260px;

  .logo_top{
    margin-bottom: 220px;
  }
  h1{
    font-size: 72px;
    margin-bottom: 25px;
    line-height: 80px;
  }
  .description{
    line-height: 26px;
  }
  .btn{margin: 50px auto 90px;}
}


#sec_14{
  padding: 10px 0 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .cont_main{
    border-bottom: 1px solid #81e3b8;
    padding-bottom: 30px;
  }
  .social{
    float: right;
    margin-right: 40px;
    margin-top: 8px;
    svg{
      fill: #fff;
      height: 24px;
      transition: fill .3s;
    }
    a:hover{
      svg{
        fill: $main_color;
      }
    }
    li{display: inline-block;}
    li+li{margin-left: 20px;}
  }

  .phones_block{
    float: right;
  }

  .tel{
      display: block;
      float: left;
      line-height: 42px;
      // margin-right: 55px;
      letter-spacing: .04em;

      color: #fff;
      cursor: pointer;
      &:hover{color:$main_color;}
  }
  .call_back{
      position: relative;
      display: block;
      float: left;
      width: 42px;
      height: 39px;
      svg{
          width: 100%;
          cursor: pointer;
          path{transition: fill .3s;}
          .cls-cba-1{display:none;}
      }
      span{
          position: absolute;
          z-index: 2;
          height: 100%;
          width: 100%;
          display: block;
          text-align: center;
          cursor: pointer;
          top: 0;
          left: 0;
          padding-top: 8px;
      }
      &:hover{
          svg{
              .cls-cb-1{
                  fill:#32a1dc;
              }
              .cls-cb-2{
                  fill: #3bb6f8;
              }
          }
      }
      &:active{
          .cls-cb-1{
              transform: transition(0 0)
          }
          .cls-cb-2{
              display: none;
          }
          span{
              top: 2px;
          }
      }
  }
}

footer{
  padding: 15px 0 15px;
  .politics{
    margin-top: 13px;
    a{
      color: #fff;
      font-size: 18px;
    }
    a:hover{color: $main_color;}
    a+a{margin-left: 10px;}
  }
  .logo_rezart{
    // margin-top: 5px;
    margin-left: 25px;
    width: 55px;
    // margin-right: 20px;
    float: right;
    svg{
      fill: #fff;
      transition: fill .3s;
    }
    &:hover{
      svg{
        fill: $main_color;
      }
    }
  }
}



@media (min-width: 768px) and (max-width: 991px){
 
  footer{
    .politics{
      margin-top: 10px;
      a{font-size: 17px;}
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px){

}

@media screen and (max-height: 760px){
  .md_large .md_content {max-height: 320px;}
}

@media (max-width: 767px) {
  [class*='col-']{width:100%}
  #sec_00{
    padding-bottom: 510px;
  }
  #sec_14{
    .social{
      float: none;
      width: 200px;
      margin: 20px auto 0;
    }
  }
  footer{
    .politics{
      margin-top: 10px;
      a{font-size: 17px;}
    }
  }
  footer{
    text-align: center;
    .politics{
      a{
         font-size: 18px;
         display: block;
         text-align: center;
       }
     a+a{margin-left: 0 }
    }
    .logo_rezart{
      display: inline-block;
      float: none;
      margin-top: 20px;
    }
  }
  div[id*="modal_callback"]{
    min-width: 510px;
    .md-content{
      width: 510px;
      background-size: 100% 100%;
    }
    h2{
      margin-top: 60px;
    }

    .h2_desc{
      margin-bottom: 30px;
    }
    .btn{margin-top: 20px;}
  }
  div[id*='modal_politics']{
    h2{padding-top: 70px;}
    .btn_close_modal{
      top: 20px;
    }
  }
}


@media (max-width: 500px) {
  #sec_00{
    padding-bottom: 420px;
    .logo_top{
      margin-bottom: 60px
    }
  }
  #sec_14{
    text-align: center;
    .cont_main{border:none}
    .phones_block{
      float: none;
      margin: 10px auto;
      width: 170px;
    }
  }

  div[id*="modal_callback"]{
    min-width: 330px;
    .md-content{
      background-color: #fff;
      background-image: none;
      width: 330px;
      background-size: 100% 100%;
      height: auto;
    }
    h2{
      margin-top: 40px;
      font-size: 26px;
      line-height: 28px;
    }

    .h2_desc{
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
    .btn{margin-top: 20px;}
  }
}